body {
    color: #40544E;
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/*** font containers ****/
h1 {
    color: #66BFBF;
    /*font-size: 90px;*/
    font-size: 5.625rem;
    /* 100% = 16px (90px/16px = 562.5) */
    font-family: 'Sacramento', cursive;
    line-height: normal;
    margin-top: 50 auto;
}

h2 {
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
    font-weight: bold;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

h1 {
    color: #66BFBF;
    /*font-size: 90px;*/
    font-size: 5.625rem;
    /* 100% = 16px (90px/16px = 562.5) */
    font-family: 'Sacramento', cursive;
    line-height: normal;
    margin-top: 50 auto;
}

/*** images class ****/

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}

.code-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.working-image {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.photoShape {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/*** Div containers ****/

.navbar {
    background-color: #66BFBF;
    color: #EAF6F6;
}

.nav-scroller {
    z-index: 2;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar-brand {
    color: #11999E;
    font-size: 2rem;
    font-family: 'Sacramento', cursive;
    line-height: normal;
}

.navbar-brand:hover {
    color: #EAF6F6;
    font-weight: bold;
}

.nav-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: #EAF6F6;
    font-weight: bold;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 60px 0;
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}


ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #11cdd4;
    color: #EAF6F6;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

ol a:hover {
    background: #30e3cb;
}

ol a:hover:before {
    transform: rotate(360deg);
}

ol a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #11999e;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}